<!--<header class="site-header" role="banner">-->

{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = custom_url %}

<div class="container header">
  <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" href="/">ICCR2017</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link
          {% if page.url == '/iccr2017/calls.html' %}
            active
          {% else %}
          {% endif %}
          " href="/iccr2017/calls">Calls</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Calls</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link
          {% if page.url == '/iccr2017/committees.html' %}
            active
          {% else %}
          {% endif %}
          " href="/iccr2017/committees">Committees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comingsoon">Keynote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comingsoon">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comingsoon">Robonumerique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/iccr2017/sponsor">Sponsor</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Calls</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Become a spnsor</a>
              <a class="dropdown-item" href="/iccr2017/sponsor">Current sponsors </a>
            </div>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link
          {% if page.url == '/contact.html' %}
            active
          {% else %}
          {% endif %}
          " href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link
          {% if page.url contains 'iccr2016' %}
            active
          {% else %}
          {% endif %}
          " href="/iccr2016/home.html">ICCR2016</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!--</header>-->
