<div class="col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
  <br />
  <h5>ICCR2019</h5>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a
        class="nav-link
                    {% if page.url == '/iccr2019/home.html' %}
                      active
                    {% else %}
                    {% endif %}
                    "
        href="/iccr2019/home"
        >Home
        <span class="sr-only">(current)</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link
    {% if page.url == '/iccr2019/calls.html' %}
      active
    {% else %}
    {% endif %}
    "
        href="/iccr2019/calls"
        >Calls</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link
    {% if page.url == '/iccr2019/committees.html' %}
      active
    {% else %}
    {% endif %}
    "
        href="/iccr2019/committees"
        >Committees</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link
    {% if page.url == '/iccr2019/keynote.html' %}
      active
    {% else %}
    {% endif %}
    "
        href="/iccr2019/keynote"
        >Keynotes</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link
        {% if page.url == '/iccr2019/proceeding.html' %}
          active
        {% else %}
        {% endif %}
        "
        href="/iccr2019/proceeding"
        >Proceedings</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link
    {% if page.url == '/iccr2019/sponsor.html' %}
      active
    {% else %}
    {% endif %}
    "
        href="/iccr2019/sponsor"
        >Sponsors</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link
    {% if page.url == '/iccr2019/video-photo.html' %}
      active
    {% else %}
    {% endif %}
    "
        href="/iccr2019/video-photo"
        >Videos/photos</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link
    {% if page.url contains 'iccr2016' %}
      active
    {% else %}
    {% endif %}
    "
        href="/iccr2017/home.html"
        >ICCR2017</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link
    {% if page.url contains 'iccr2016' %}
      active
    {% else %}
    {% endif %}
    "
        href="/iccr2016/home.html"
        >ICCR2016</a
      >
    </li>
  </ul>
</div>
