<div class="col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
    <br/>
    <h5>ICCR2017</h5>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Calls</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/iccr2017/calls">Call for Papers</a>
                <a class="dropdown-item" href="/iccr2017/calls-industry">Call for Industrial Presentations</a>
                <a class="dropdown-item" href="/iccr2017/importantdate">Important dates</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link
    {% if page.url == '/iccr2017/committees.html' %}
      active
    {% else %}
    {% endif %}
    " href="/iccr2017/committees">Committees</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programme</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/iccr2017/keynote">Keynotes</a>
                <a class="dropdown-item" href="/iccr2017/programme">Programme </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registration</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/iccr2017/registration">Registration</a>
                <a class="dropdown-item" href="/iccr2017/venue">Venue </a>
                <a class="dropdown-item" href="/iccr2017/visa">Visa Information </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Robonumerique</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/iccr2017/saintquentin">Saint Quentin</a>
                <a class="dropdown-item" href="/iccr2017/robonumerique">Robonumerique 2017 </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sponsors</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/iccr2017/becomeasponsor">Become a sponsor</a>
                <a class="dropdown-item" href="/iccr2017/sponsor">Current sponsors </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link
    {% if page.url == '/contact.html' %}
      active
    {% else %}
    {% endif %}
    " href="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link
    {% if page.url contains 'iccr2017' %}
      active
    {% else %}
    {% endif %}
    " href="/iccr2017/home.html">ICCR2017</a>
        </li>
        <li class="nav-item">
            <a class="nav-link
    {% if page.url contains 'iccr2016' %}
      active
    {% else %}
    {% endif %}
    " href="/iccr2016/home.html">ICCR2016</a>
        </li>
    </ul>
</div>