<div class="col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
    <br/>
    <h5>ICCR2017</h5>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link
                    {% if page.url == '/iccr2017/home.html' %}
                      active
                    {% else %}
                    {% endif %}
                    " href="/iccr2017/home">Home
                <span class="sr-only">(current)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link
    {% if page.url == '/iccr2017/calls.html' %}
      active
    {% else %}
    {% endif %}
    " href="/iccr2017/calls">Calls</a>
        </li>

        <li class="nav-item">
            <a class="nav-link
    {% if page.url == '/iccr2017/committees.html' %}
      active
    {% else %}
    {% endif %}
    " href="/iccr2017/committees">Committees</a>
        </li>

        <li class="nav-item">
            <a class="nav-link
    {% if page.url == '/iccr2017/keynote.html' %}
      active
    {% else %}
    {% endif %}
    " href="/iccr2017/keynote">Keynotes</a>
        </li>

        <li class="nav-item">
                <a class="nav-link
        {% if page.url == '/iccr2017/proceeding.html' %}
          active
        {% else %}
        {% endif %}
        " href="/iccr2017/proceeding">Proceedings</a>
            </li>

            
        <li class="nav-item">
            <a class="nav-link
    {% if page.url == '/iccr2017/sponsor.html' %}
      active
    {% else %}
    {% endif %}
    " href="/iccr2017/sponsor">Sponsors</a>
        </li>

        <li class="nav-item">
            <a class="nav-link
    {% if page.url == '/iccr2017/video-photo.html' %}
      active
    {% else %}
    {% endif %}
    " href="/iccr2017/video-photo">Videos/photos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link
    {% if page.url contains 'iccr2016' %}
      active
    {% else %}
    {% endif %}
    " href="/iccr2016/home.html">ICCR2016</a>
        </li>
    </ul>
</div>