<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ content }}</div>
      </div>
      <hr class="featurette-divider">
    </div>

    {% include footer.html %}
    <div class="toast">
      <div class="toast__container"></div>
    </div>
    <template id="toast_message">
      <div class="toast__message">
        <div class="toast__contents">
          <div class="toast__content"></div>
          <div class="toast__actions"></div>
        </div>
      </div>
    </template>
    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>-->
    <script src="{{ '/js/bootstrap.min.js' }}"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>
    <script src="{{ '/js/main.min.js' }}"></script>
    <script src="{{ '/js/schedule.min.js' }}"></script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-58124138-5', 'auto');
      ga('require', 'eventTracker', {
        attributePrefix: 'data-g-'
      });
      ga('require', 'outboundLinkTracker');
      ga('send', 'pageview');
    </script>
    <script async src="{{ '/js/autotrack.min.js' }}"></script>
  </body>
</html>
